.Gallery {
  position: relative;
  margin: 10px;
  height: 500px;
  width: calc(100% - 20px);
  overflow: hidden;
  background-color: #666;
}

.GalleryView {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
}

.GalleryNav {
  display: inline-block;
  position: absolute;
  top: calc(50% - 30px);
  height: 60px;
  width: 60px;
  background-color: #333;
  color: #fff;
  opacity: 0.8;
  border-radius: 50%;
  text-decoration: none;
  font-size: 3.5em;
  line-height: 0.8;
  cursor: pointer;
}

.GalleryNav.GalleryNavDisabled {
  display: none;
}

.GalleryNav.GalleryNavPrev {
  left: 14px;
}

.GalleryNav.GalleryNavNext {
  right: 14px;
}
